<div class="jumbotron text-center">
	<h1>Student View</h1>



	<div class="w3-container" >

		<h3>Addresses</h3>

		<table class="w3-table w3-bordered w3-striped">
			<tr>

				<th>House #</th>
				<th>Street</th>
				<th>Town</th>
				<th>state/Province</th>
				<th>Country</th>
			</tr>

			<tr ng-repeat="address in addresses">
				<td>
					<button class="w3-btn w3-red w3-ripple" ng-click="deleteAddress(address._id, $index)">&#9998; Delete</button>
				</td>
				<td>
					<a href="updateaddress/{{address._id}}" class="w3-btn w3-blue w3-ripple"  >&#9998; Update</a>
				</td>
				<td>{{ address.houseNumber }}</td>
				<td>{{ address.street }}</td>
				<td>{{ address.town }}</td>
				<td>{{ address.statee}}</td>
				<td>{{ student.country}}</td>
			</tr>
		</table>
		<br>

	</div>



</div>

<!-- ng-click="updateStudent(student._id)" -->