<div class="row">

<div class="jumbotron text-center">


    <div  class="row">



        <form class="col-md-4 col-md-offset-4">


            <label>House #:</label>
            <input class="w3-input w3-border" type="text" ng-model="address.houseNumber"  placeholder="House #" >
            <br>


            <label>Street #:</label>
            <input class="w3-input w3-border" type="text" ng-model="address.street"  placeholder="Street">
            <br>

            <label>Town:</label>
            <input class="w3-input w3-border" type="text" ng-model="address.town"  placeholder="Town">
            <br>

            <label>State:</label>
            <input class="w3-input w3-border" type="text" ng-model="address.statee"  placeholder="State">
            <br>


            <label>Country:</label>
            <input class="w3-input w3-border" type="text" ng-model="address.country"  placeholder="Country">
            <br>

            <button class="w3-btn w3-green w3-ripple" ng-click="createAddress()" >Create Address</button>

        </form>

        </div>

</div>

    </div>