<div class="row">

<div class="jumbotron text-center">


    <div  class="row">



        <form class="col-md-4 col-md-offset-4">


            <label>First Name:</label>
            <input class="w3-input w3-border" type="text" ng-model="student.fname"  placeholder="First Name" >
            <br>


            <label>Last Name:</label>
            <input class="w3-input w3-border" type="text" ng-model="student.lname"  placeholder="Last Name">
            <br>

            <label>Father Name:</label>
            <input class="w3-input w3-border" type="text" ng-model="student.fathername"  placeholder="Father Name">
            <br>


            <label>Address:</label>
            <input class="w3-input w3-border" type="text" ng-model="student.address[0].country"  placeholder="Country">
            <div>
                <input class="w3-input w3-border" type="text" ng-model="student.address[0].state"  placeholder="state">

                <input class="w3-input w3-border" type="text" ng-model="student.address[0].town"   placeholder="town">
                <input class="w3-input w3-border" type="text" ng-model="student.address[0].street"  placeholder="street">
                <input class="w3-input w3-border" type="text" ng-model="student.address[0].houseNo"  placeholder="house number">

                <input class="w3-input w3-border" type="text" ng-model="student.address[1].country"  placeholder="Country">
                <input class="w3-input w3-border" type="text" ng-model="student.address[1].state"  placeholder="state">

                <input class="w3-input w3-border" type="text" ng-model="student.address[1].town"   placeholder="town">
                <input class="w3-input w3-border" type="text" ng-model="student.address[1].street"  placeholder="street">
                <input class="w3-input w3-border" type="text" ng-model="student.address[1].houseNo"  placeholder="house number">

            </div>


            <label>Phone #:</label>
            <input class="w3-input w3-border" type="text" ng-model="student.telephone"  placeholder="+nn-nnn-nnnnnnn">
            <br>


            <label>Department:</label>
            <br>
            <select class="w3-border w3-select" ng-model="student.department" >
                <option value="" >
                <option value="CS">CS
                <option value="EE">EE
                <option value="CV">CV
            </select>
            <br>
            <br>

            <button class="w3-btn w3-green w3-ripple" ng-click="createStudent()" type="submit" ng-disabled="">Create Student</button>

        </form>

        </div>

</div>

    </div>