
<div class="container-fluid" style="border:solid">
    <div id="header" class="row">
        <md-toolbar id="nexpaq-wraper" class="" layout="row"  layout-sm="column" layout-wrap >
            <div  flex="100" flex-sm="100 " layout="row"  layout-align="center">
                <img src="../images/nexpaq_logo.png"  height="72px;" >
            </div>
        </md-toolbar>
    </div>
    <div  ng-hide="showForm">
        <md-content layout-padding class="autoScroll">
            <div layout="row" layout-wrap>
                <div class="signin-div" flex="33" offset-gt-md="33" flex-md="100" flex-sm="100"  flex-xs="100" >
                    <md-card class="md-whiteframe-z2" layout-wrap>
                        <md-card-content layout="row" layout-wrap layout-padding>
                            <div layout="column" flex >
                                <form layout="column" flex >
                                    <md-input-container>
                                        <label style="margin-left:36px">Email</label>
                                        <md-icon md-svg-src="../images/email_white2.svg" class="marginiser" ></md-icon>
                                        <input name="email" type="text" ng-model="email" required style="margin-left:36px">
                                    </md-input-container>
                                    <md-input-container>
                                        <label style="margin-left:36px">Password</label>
                                        <md-icon md-svg-src="../images/password_white.svg" class="marginiser" ></md-icon>
                                        <input name="password" type="password" ng-model="password" required style="margin-left:36px">
                                    </md-input-container>
                                    <md-button class="md-raised md-primary" ng-click="signIn()"><span ng-hide="hide">Sign in</span><span ng-show="hide">Signing In ...</span></md-button>
                                </form>

                                <div layout="row" layout-align="end center">
                                    <p>  Don't have account: <md-button class="md-primary"  ng-click="fun(showForm)">click here</md-button></p>
                                </div>

                            </div>
                        </md-card-content>
                    </md-card>

                </div>
            </div>
        </md-content>


    </div>


    <div  ng-show="showForm">

        <md-content layout-padding class="autoScroll">
            <div layout="row" layout-wrap>
                <div class="signin-div" flex="33" offset-gt-md="33" flex-md="100" flex-sm="100"  flex-xs="100" >
                    <md-card class="md-whiteframe-z2" layout-wrap>
                        <md-card-content layout="row" layout-wrap layout-padding>
                            <div layout="column" flex >
                                <form layout="column" flex>
                                    <md-input-container>
                                        <label style="margin-left:36px">First Name</label>
                                        <md-icon md-svg-src="../../images/person2.svg" class="marginiser"></md-icon>
                                        <input name="firstname" type="text" ng-model="firstname" required style="margin-left:36px">
                                    </md-input-container>
                                    <md-input-container>
                                        <label style="margin-left:36px">Last Name</label>
                                        <md-icon md-svg-src="../../images/person2.svg"  class="marginiser"></md-icon>
                                        <input name="lastname" type="text" ng-model="lastname" required style="margin-left:36px">
                                    </md-input-container>
                                    <md-input-container>
                                        <label style="margin-left:36px">Birthdate</label>
                                        <md-icon md-svg-src="../images/birthdate_white.svg" class="marginiser" ></md-icon>
                                        <input name="birthdate" type="date" ng-model="birthdate" required style="margin-left:36px">
                                    </md-input-container>
                                    <md-input-container>
                                        <label style="margin-left:36px">Email</label>
                                        <md-icon md-svg-src="../images/email_white2.svg" class="marginiser"  ></md-icon>
                                        <input name="email" type="text" ng-model="email" required style="margin-left:36px">
                                    </md-input-container>
                                    <md-input-container>
                                        <label style="margin-left:36px">Password</label>
                                        <md-icon md-svg-src="../images/password_white.svg" class="marginiser" ></md-icon>
                                        <input name="password" type="password" ng-model="password" required style="margin-left:36px">
                                    </md-input-container>
                                    <md-button class="md-raised md-primary" ng-click="signUp()"><span ng-hide="hide">Sign up</span><span ng-show="hide">Signing In ...</span></md-button>
                                </form>
                            </div>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </md-content>
    </div>
</div>