
            <div class="form" >


                <ul class="tab-group">-->
                    <li class="tab"><a href="/signUp" >Sign Up</a></li>
                    <li class="tab  active"><a href="#">Log In</a></li>
                </ul>


                <div id="login">
                        <h1>Welcome Back!</h1>

                        <form >

                            <div class="field-wrap">
                                <label>
                                    Email Address<span class="req">*</span>
                                </label>
                                <input type="email" ng-model="cred.email"  required autocomplete="off"/>
                            </div>

                            <div class="field-wrap">
                                <label>
                                    Password<span class="req">*</span>
                                </label>
                                <input type="password"required ng-model="cred.password" autocomplete="off"/>
                            </div>

                            <p class="forgot"><a href="#">Forgot Password?</a></p>

                            <button class="button button-block"  ng-click="signIn()" />Log In</button>

                        </form>

                    </div>


            </div>
