
            <div class="form" >

                <ul class="tab-group">-->
                    <li class="tab active"><a href="#" >Sign Up</a></li>
                    <li class="tab"><a href="/signIn">Log In</a></li>
                </ul>

                <div class="tab-content">
                    <div id="signup" >
                        <h1>Sign Up for Free</h1>

                        <form >

                            <div class="top-row">
                                <div class="field-wrap">
                                    <label>
                                        First Name<span class="req">*</span>
                                    </label>
                                    <input type="text"  ng-model="user.firstName"  required autocomplete="off" />
                                </div>

                                <div class="field-wrap">
                                    <label>
                                        Last Name<span class="req">*</span>
                                    </label>
                                    <input type="text"required ng-model="user.lastName"  autocomplete="off"/>
                                </div>
                            </div>

                            <div class="field-wrap">
                                <label>
                                    Email Address<span class="req">*</span>
                                </label>
                                <input type="email"  ng-model="user.email" required autocomplete="off"/>
                            </div>

                            <div class="field-wrap">
                                <label>
                                    Set A Password<span class="req">*</span>
                                </label>
                                <input type="password"  ng-model="user.password" required autocomplete="off"/>
                            </div>

                            <button  class="button button-block"  ng-click="signUp()" />Get Started</button>



                            <h2  style="color:whitesmoke" >{{statuss}} </h2>


                        </form>

                    </div>



                    <div id="login">
                    </div>

                </div><!-- tab-content -->

            </div>
