<div class="jumbotron text-center">
	<h1>Student View</h1>



	<div class="w3-container" >

		<h3>Students</h3>

		<table class="w3-table w3-bordered w3-striped">
			<tr>

				<th>Delete</th>
				<th>Update</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Father Name</th>
				<th>Phone</th>
                <th>Department</th>
			</tr>

			<tr ng-repeat="student in students">
				<td>
					<button class="w3-btn w3-red w3-ripple" ng-click="deleteStudent(student._id, $index)">&#9998; Delete</button>
				</td>
				<td>
					<a href="update/{{student._id}}" class="w3-btn w3-blue w3-ripple"  >&#9998; Update</a>
				</td>
				<td>
					<a href="addresses/{{student._id}}" class="w3-btn w3-green w3-ripple"  >&#9998; View Addresses</a>

				</td>
				<td>{{ student.fname }}</td>
				<td>{{ student.lname }}</td>
				<td>{{ student.lname }}</td>
				<td>{{ student.fathername }}</td>
				<td>{{ student.telephone}}</td>
				<td>{{ student.department }}</td>

			</tr>
		</table>
		<br>

	</div>



</div>

<!-- ng-click="updateStudent(student._id)" -->