<div class="row">

<div class="jumbotron text-center">


    <div  class="row">



        <form class="col-md-4 col-md-offset-4" >


            <label>First Name:</label>
            <input class="w3-input w3-border" type="text" ng-model="student.fname"  placeholder="First Name" >
            <br>


            <label>Last Name:</label>
            <input class="w3-input w3-border" type="text" ng-model="student.lname"  placeholder="Last Name">
            <br>

            <label>Father Name:</label>
            <input class="w3-input w3-border" type="text" ng-model="student.fathername"  placeholder="Father Name">
            <br>


            <label>Phone #:</label>
            <input class="w3-input w3-border" type="text" ng-model="student.telephone"  placeholder="+nn-nnn-nnnnnnn">
            <br>


            <label>Department:</label>
            <br>
            <select class="w3-border w3-select" ng-model="student.department" >
                <option value="" >
                <option value="CS">CS
                <option value="EE">EE
                <option value="CV">CV
            </select>
            <br>
            <br>

            <button class="w3-btn w3-orange w3-ripple"  ng-click="updateStudent()">Update</button>

        </form>

        </div>

</div>

    </div>