<div class="jumbotron text-center">
	<h1>User View</h1>


	<p>{{ tagline }}</p>


	<div class="w3-container">

		<h3>Users</h3>

		<table class="w3-table w3-bordered w3-striped">
			<tr>

				<th>Delete</th>
				<th>First Name</th>
				<th>Email</th>
			</tr>
			<tr ng-repeat="user in users">
				<td>
					<button class="w3-btn w3-red w3-ripple" ng-click="users.splice($index,1)">&#9998; Delete</button>
				</td>
				<td>{{ user.name }}</td>
				<td>{{ user.email }}</td>
			</tr>
		</table>
		<br>
		<button class="w3-btn w3-green w3-ripple" ng-click="editUser()">&#9998; Create New User</button>

		<form ng-hide="hideform">
			<h3 ng-show="edit">Create New User:</h3>
			<h3 ng-hide="edit">Edit User:</h3>
			<label>Name:</label>
			<input class="w3-input w3-border" type="text" ng-model="name" ng-disabled="!edit" placeholder="First Name">
			<br>
			<label>Email:</label>
			<input class="w3-input w3-border" type="email" ng-model="email" ng-disabled="!edit" placeholder="Email">
			<br>
			<label>Password:</label>
			<input class="w3-input w3-border" type="password" ng-model="passw1" placeholder="Password">
			<br>
			<label>Repeat:</label>
			<input class="w3-input w3-border" type="password" ng-model="passw2" placeholder="Repeat Password">
			<br>
			<button class="w3-btn w3-green w3-ripple" ng-click="addUser()" ng-disabled="error || incomplete">&#10004; Save Changes</button>
		</form>

	</div>


</div>