body {

}
#container{
    padding: 0;
}

#main-container{
    padding: 0px;
}
h1,h3,h2{
    font-family: 'Roboto', sans-serif;
}
.toolbar{
    background-color: #e41114 !important;
}

#mdContent{
    padding-left: 0;
    margin-right: 0;
    margin-top:0;
    padding-right:0;
}
#header{
    padding-left: 0;
}
.header_h2{
    margin-top:20px;
    color: white
}
#wraper{

}
#img_header_menu{
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 0px;
    margin-top: 0px;
}
#img_header_arrow{
    margin-top: 15px;
}
#leftCol{
    border: 0px solid black;
    padding:0;
    margin: 0;
    padding-right: 0
}
#leftCard{
    margin-left: 0;
    margin-top:0;
    padding-bottom: 0;
    padding-right: 0px;
    padding-left: 16px;
    height: 700px
}
.mdSelectLeft{
    font-weight: 500;
    font-size:15px;
    margin:0;
    padding:0;
    margin-left:0px;
    margin-bottom: 0px;
    margin-top:90px;
    padding-bottom: 0;
    padding-left:0;
    border:0px solid black;
}
#mdSelectLeftOpt{
    font-size: 15px;
}
.leftDivider1{
    margin-top: 117.5px;
}
.leftCardLabel{
    color:#c5c7c3;
    font-size: 12px;
    font-weight: bold;
    margin:0;
    padding:0;
    margin-left:7px;
    margin-bottom: 10px;
    margin-top:0px;
    padding-bottom: 0;
    padding-top: 0;
}
.leftImg{
    margin: 0;
    padding:0;
    margin-left: 15px;
}
.leftCardh3{
    margin:0;
    padding:0;
    font-weight:500;
}
.leftP{
    font-size: 12px;
}
#midRows{
    border: 0px solid black;
    padding-left:0;
    padding-right:0;
    width:50%
}
#midRowTop{
    border: 0px solid pink;
    margin-left:4px;
    margin-top:4px
}
.midCard{
    margin: 0;
    margin-bottom: 4px;
    padding:5px;
    /*min-height: 260px;*/
}
#midRowMiddle{
    border: 0px solid pink;
    padding-left:0;
    margin-left:4px;
    margin-top:4px;
}
#midRowBottom{
    border: 0px solid pink;
    padding-left:0;
    margin-left:4px;
    margin-top:4px
}
#rightCol{
    border: 0px solid black;
    padding: 0;
    margin: 0
}
#rightCard{
    margin-left: 0px;
    margin-top:0;
    padding-bottom: 0;
    margin: 0;
    padding: 0
}
#rightCardContent{
    padding:0;
    margin: 0;
}
.rightSelect{
    font-weight: bold;
    font-size:15px;
    margin:0;
    padding:0;
    margin-left:25px;
    margin-bottom: 0px;
    margin-top:0px;
    padding-bottom: 0;
    border:0px solid black
}
.rightP{
    font-size: 12px;
}
.fromTo{
    color:#e6e8e4;
    font-size: 12px;
    margin:0;
    padding:0;
    margin-left:25px;
    margin-bottom: 10px;
    margin-top:15px;
    padding-bottom: 0;
    padding-top: 0;
}
.rightPSub{
    font-size: 12px;
    padding: 3px;
    margin: 0;
    margin-left: 10px;
}
#rightSideNavToolbar{
    min-height: 65px;
    background-color: #e41114;
}
/*#leftSideNavToolbar{*/
    /*min-height: 65px;*/
    /*background-color: #e41114;*/
/*}*/
/*#img_LeftSideNav_menu{}*/
.md-sidenav-backdrop.md-opaque.ng-scope.md-default-theme{
    background-color: rgba(227, 220, 228, 0)
}

.filter-label{
    margin-top: 17px;
}

.side-nav-top-margin{
    margin-top: 64px;
}


md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 100px !important;
    /*width: 85vw !important;*/
    width: 100% !important;
    max-width: 250px !important;
}



.right-side-nav-input{

    font-size: 12px;
    font-weight: bold;
    border: none;
}

.right-nav-element{
    margin-top: 10px;
    margin-bottom: 5px;
}

.right-nav-select .md-select-label{
    border:none
}

.right-nav-list-font{
    font-size: 12px;
    font-weight: bold;
}

.left-nav-divider{
    margin-bottom: 10px;
}

.alerts .midCard{
    min-height: 80px;
    height: 120px;
    max-height: 500px;
}
.splashH1{
    padding-top: 0px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    flex-grow: 1;
    color: white;
}
/*.splashH4{*/
/*display: flex;*/
/*position: relative;*/
/*align-items: center;*/
/*justify-content: center;*/
/*flex-grow: 1;*/
/*color: white;*/
/*}*/
.cardDivs{
    padding: 0;
    margin: 0;
    padding-right:50px;
    padding-left:50px;

}
/*#splashMidCard11{*/
    /*background-color: #3F51B5;*/
/*}*/
#oneh2-splashMidCard11{
    background-color: #ee3d96
}
/*#splashMidCard12{*/
/*background-color: #194775*/
/*}*/
/*#splashMidCard13{*/
/*background-color: #194775*/
/*}*/
/*#splashMidCard21{*/
/*background-color: #194775;*/
/*}*/
/*#splashMidCard22{*/
/*background-color: #194775;*/
/*}*/
/*#splashMidCard23{*/
/*background-color: #194775;*/
/*}*/
/*#splashMidCard31{*/
/*background-color: #194775;*/
/*}*/
/*#splashMidCard32{*/
/*background-color: #194775;*/
/*}*/
/*#splashMidCard33{*/
/*background-color: #194775;*/
/*}*/
/*#splashMidCard41{*/
/*background-color: #194775;*/
/*}*/
/*#splashMidCard42{*/
/*background-color: #194775;*/
/*}*/
/*#splashMidCard43{*/
/*background-color: #194775;*/
/*}*/

/*not ideal way to do this*/
.md-toast-open-bottom .md-bottom{
    position: fixed !important;
}
#CardHeaders{
    padding-bottom: 5px;
    padding-left: 65px;
    font-size: 30px;

}

#main-container a{
    color: rgba(0,0,0,.73);
}

#main-container .logo{
    height:70px;
    border: solid 1px #f1f1f1;
    border-radius: 10px;

}
.splashIcons{
    padding-top: 10px;
}
#map{
    margin: 0;
    padding: 0
}

.sidenav-icon{
    margin-top: -3px;
}

.main-content-link {
    text-decoration: none !important;
}
.reportsSplashH6{
    font-size: 11px;
}

@media (max-width: 1200px) {
    .reportsSplashH6{
        font-size: 9px;
    }
}
@media (max-width: 1100px) {
    .reportsSplashH6{
        font-size:7px;
    }
}
@media (max-width: 960px) {
    .reportsSplashH6{
        font-size: 13px;
    }
}

@media (max-width: 500px) {
    .reportsSplashH6{
        font-size: 10px;
    }
}
#nexpaq-wraper{
    background-color: #FFFFFF !important;
}

.angular-google-map-container {
    height: 700px;
}
.chartDiv{
    height: 300px;
    margin-top: 20px;
    margin: 0
}
.md-button{
    text-transform: lowercase !important;
}
.nexpaq-toolbar-h1{
    color : black
}
.charts-div{
    height: 325px;
    margin-top: 20px;
    margin: 0
}
#table-breathelyzer{
    /*border: 1px solid black;*/
    min-width: 90%;
    margin-left: 5%;
    text-align: center;
    font-size:12px
}
.tr-td-borders{
    border: 1px solid black;
}
#table-surface{
    /*border: 1px solid black;*/
    min-width: 90%;
    margin-left: 5%;
    text-align: center;
font-size:12px
}
.border-height{
    border: 5px solid black;
    min-height:130px
}
.market-place-card11-prop{
    background-color: mediumseagreen;
    padding-top: 5px;
    padding-bottom: 5px;
}
.margin-top-zero{
    margin-top: 0px;
}
.margin-nuller{
    margin: 0px;
}
#table-datetime{
    /*border: 1px solid black;*/
    min-width: 100%;
    text-align: center;
    /*font-size:10px*/
}
.margin-padding-zero{
    margin : 0;
    padding : 0;
}
.font-blacker{
    color : #080808;
}
.text-align-center{
    text-align: center;
}
.text-right{
    text-align: right;
    margin-right: 3px;
}
.fixed{
    table-layout: fixed;
}
#table-gateways{
    min-width: 100%;
    text-align: center;
    font-size:12px

}
#table-modules{
    min-width: 100%;
    text-align: center;
    font-size:12px
}
#my-account-form md-input-container{
    padding: 0!important;
}
.my-account-form-location-label{
    margin-top: 25px;
    color: rgba(0,0,0,0.26);
}
.container-fix-mouse-over
{

    min-width: 310px; height: 400px; margin: 0 auto;
}

.remove-btn-card
{
    min-height: 20px;
}
.tables-publish-my-data-3-in-row{
    min-width: 100%;
    font-size:12px
}
.tr-td-borders-3{
    border: 3px solid black;
}
.font-green{
    color : green;
}
.font-red{
    color : red;
}
#table-available-data{
    min-width: 100%;
    text-align: center;
    font-size: 12px;
}
#publish-m-data-table-available-data-div{
    height : 150px;
}
.green-background{
    background-color: #4CAF50;
    margin-bottom: 1px;
    margin-right: 1px;
    text-align: center;
    color : whitesmoke;
}
.red-background{
    background-color: #F44336;
    margin-bottom: 1px;
    margin-right: 1px;
    text-align: center;
    color : whitesmoke;
}
.table{
    text-align: left!important;
    font-size: 12px;
}
.table th{
    border: 0!important;
}
.table tr th{
    margin: 5px 0;
    padding: 3px!important;
}

.table tr td {
    padding: 3px !important;
}
#table-available-data tr td{
    /*text-align:center;*/
    vertical-align:middle;

}
.section-border{
    border-right: 1px solid #E5E5E5 !important;
}

#table-available-data tr td md-select{
    margin : -4px;
    padding : -2px;
    /*height: 0px !important;*/

}
.margin_zero{
    margin : 0
}
.border-left{
    border-left: 1px solid gray;
    border-color:rgba(0,0,0,0.10) ;
    /*color: rgba(0,0,0,0.26);*/
}
.marginiser{
    margin-top : 25px !important;
}
md-content form div div label{
    margin-top: 7px !important;
}
md-radio-group{
    border: 0px !important;
}
#leftNav{
    min-height : 700px
}
.radio-group-margin{
    margin-top : 10px;
}
.add-btn{
    position: fixed !important;
    bottom: 10px;
    right: 10px;
}
.add-btn .md-fab {
    line-height: 0px !important;
}
.scrollable-list{
    max-height: 180px;
    overflow-y: scroll;
}
.md-dialog-height{
    max-height: 500px;
    overflow-x : scroll
}
.margin-five{
    margin: 5px;
}
.midcard{
    height: 175px;

    /*width : 150px*/
}
.midcard:hover{
    height : 175.5px;

    border-bottom: 2px solid red;
    border-top: 2px solid red;
}
.circles{
    height: 175px;
    text-align: center;
    border-radius: 50% !important;
    background-color: #FF4081;
    border: 10px solid #FF4081
}
.circles:hover {
    border: 10px solid #E91E63
}