<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<base href="/">

	<title>Starter Node and Angular</title>







	<!-- js custopn -->

	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>



	<!-- CSS -->
	<link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css"> <!-- custom styles -->
	<!-- <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
	<!-- <link rel="stylesheet" href="css/signUp.css"> <!-- custom styles -->


	<!-- material -->
	<link rel="stylesheet" href="libs/angular-material/angular-material.min.css">
	<link rel="stylesheet" href="libs/angular-material/angular-material.css">


	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.8.2/angular-material.min.css">
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.6.1/angular-material.min.css">





	<!-- JS -->
	<script src="libs/angular/angular.min.js"></script>
	<script src="libs/angular-route/angular-route.min.js"></script>



	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-aria.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angular_material/0.8.2/angular-material.min.js"></script>









	<!-- ANGULAR CUSTOM -->
	<script src="js/controllers/MainCtrl.js"></script>
	<script src="js/controllers/NerdCtrl.js"></script>
	<script src="js/services/NerdService.js"></script>
	<script src="js/controllers/GeekCtrl.js"></script>
	<script src="js/services/GeekService.js"></script>
	<script src="js/services/StudentService.js"></script>
	<script src="js/services/AddressService.js"></script>
	<script src="js/services/UserService.js"></script>






	<script src="js/controllers/UserCtrl.js"></script>
	<script src="js/controllers/StudentCtrl.js"></script>
	<script src="js/controllers/AddressCtrl.js"></script>
	<script src="js/controllers/SignUpCtrl.js"></script>




	<script src="js/appRoutes.js"></script>
	<script src="js/app.js"></script>
</head>
<body ng-app="sampleApp" ng-controller="MainController"  >

<div class="">
	
	<!-- HEADER -->
	<nav class="navbar navbar-inverse">
		<div class="navbar-header">
			<a class="navbar-brand" href="/home">Stencil: Node and Angular</a>
		</div>

		<ul class="nav navbar-nav"  ng-show="userr" >
			<li><a href="/nerds">Nerds</a></li>
			<li><a href="/geeks">Geeks</a></li>
			<li><a href="/user">User</a></li>
			<li><a href="/createStudent">createStudent</a></li>
			<li><a href="/students">Students</a></li>
			<li><a href="/signUp">SignUp</a></li>
			<li><a href="/materialSignIn">materialSignin</a></li>



			<button  ng-click="signOut()" ng-controller="SignUpController" class="  button button-block" >
				Log Out
			</button>

		</ul>

	</nav>



	<!-- ANGULAR DYNAMIC CONTENT -->
	<div ng-view> </div>

</div>
</body>
</html>
